.button {
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding: 10px 20px;
  width: fit-content;
  transition: color var(--transition), border-color var(--transition),
    background-color var(--transition);
}
.header_btn {
  display: none;
}
.button:hover,
.button:focus {
  color: var(--bg-color);
  border-color: var(--text-color);
  background-color: var(--text-color);
}
.button.sidebar {
  display: block;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 12px 28px;
  }
  .header_btn {
    display: block;
  }
}
