.my_library_books {
  padding: 40px 20px;
}
.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.lib_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 14px;
}
