.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
}

.text {
  display: none;
  width: 42px;
}
.icon {
  fill: var(--text-color);
}
.text.header_text {
  display: none;
}
@media screen and (min-width: 768px) {
  .text {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1440px) {
  .text.text.header_text {
    display: inline;
  }
}
